doctype html
html
	head
		meta(name="viewport" content="width=device-width" maximum-scale="1.0")
		link(rel="stylesheet" href="dist/picnic.min.css")
		link(rel="stylesheet" href="dist/plugins.min.css")
		link(rel="stylesheet" href="dist/index.css")
	body
		script(src="./dist/app.js")
